@media (min-width: 1025) and (max-width: 1440px) {
  .blackbg-text {
    margin-left: 108px;
  }

  .crazy-panda img {
    width: 60%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hellomsg h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 44px;
    color: #ffffff;
  }

  .pandainfo-text h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    margin-bottom: 58px;
    color: #ffffff;
  }

  .h1margin {
    margin-left: 88px;
  }

  .pandainfo-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }

  .blackbg-text h3 {
    border-left: #0bda51 6px solid;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    color: #ffffff;
  }

  .blackbg-text {
    margin-left: 68px;
  }

  .blackbg-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }

  .hangingpanda {
    position: absolute;
    right: 0px;
    padding-top: 2px;
    width: 26%;
  }

  .videosection-container {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .hellomsg-text {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .crazy-panda img {
    width: 72%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hellomsg-text h1 {
    margin-right: 28px;
    border-left: 6px solid #0bda51;
  }

  .hellomsg-text {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .hellomsg h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    color: #ffffff;
  }

  .hellomsg-text {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }

  .hellomsg p {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
  }

  .pandainfo-container {
    padding: 88px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pandainfo-text h1 {
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 52px;
    margin-top: 52px;
    color: #ffffff;
  }

  .pandainfo-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }

  .videosection-container {
    display: flex;
    align-items: center;
    padding: 88px 0;
    flex-direction: column;
  }

  .videosection-container img {
    width: 100%;
    border-radius: 8px;
  }

  .blackbg-text {
    margin: 60px auto 0;
  }

  .blackbg-text h3 {
    border-left: #0bda51 6px solid;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    color: #ffffff;
  }

  .blackbg-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }

  .footer-socialmedia-icon img {
    margin-left: 12px;
    width: 48px;
  }

  .footer-pandaicon img {
    width: 80px;
    height: 80px;
  }

  .footer-pandaicon h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    margin-left: 8px;
    color: #ffffff;
  }

  .crazy-panda img {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .hellomsg-text {
    display: flex;
    align-items: center;
    padding: 80px 14px;
    flex-direction: column;
  }

  .hellomsg-text h1 {
    /* margin-right: 0px; */
    margin-bottom: 36px;
    border-left: 6px solid #0bda51;
  }

  .hellomsg h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 50px;
    color: #ffffff;
  }

  .hellomsg p {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
  }

  .pandainfo-container {
    padding: 108px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .pandainfo-container img {
    border-radius: 8px;
    width: 100%;
    flex: 0 0 auto;
  }

  .pandainfo-text h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 54px;
    color: #ffffff;
    margin: 40px 0;
  }

  .h1margin {
    margin-left: 76px;
  }

  .pandainfo-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }

  .videosection-container {
    display: flex;
    align-items: center;
    padding: 88px 0;
    flex-direction: column;
  }

  .videosection-container img {
    width: 100%;
    border-radius: 8px;
  }

  .blackbg-text h3 {
    border-left: #0bda51 6px solid;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    margin: 40px 0;
    color: #ffffff;
  }

  .blackbg-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .blackbg-text {
    margin-left: 0;
  }

  .hangingpanda {
    display: none;
  }

  .footer-socialmedia-icon img {
    margin-left: 10px;
    width: 42px;
  }

  .footer-pandaicon img {
    width: 60px;
    height: 60px;
  }

  .footer-pandaicon h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-left: 8px;
    color: #ffffff;
  }
  .crazy-panda img {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .staking-title {
    color: white;
    font-weight: bold;
    font-size: 34px;
    background: linear-gradient(
      90deg,
      #fdcb6e 0,
      #d63031 35%,
      #e84393 75%,
      #6c5ce7
    );
    border-radius: 6px;
    padding: 8px 22px;
  }

  .stakingtext {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

  .stakingsection {
    margin-top: 60px;
    margin-bottom: 32px;
  }
}

@media (min-width: 425px) and (max-width: 600px) {
  .staking-title {
    color: white;
    font-weight: bold;
    font-size: 22px;
    background: linear-gradient(
      90deg,
      #fdcb6e 0,
      #d63031 35%,
      #e84393 75%,
      #6c5ce7
    );
    border-radius: 4px;
    padding: 8px 18px;
  }

  .stakingtext {
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }

  .stakingtext h1 {
    font-size: 32px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .walletcss {
    color: white;
    background-color: rgb(3, 102, 69);
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    transition: transform 1s;
  }

  .staking-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(
      90deg,
      #fdcb6e 0,
      #d63031 35%,
      #e84393 75%,
      #6c5ce7
    );
    border-radius: 4px;
    padding: 8px 10px;
  }

  .stakingtext {
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }

  .stakingsection {
    margin-top: 58px;
    margin-bottom: 42px;
  }

  .stakingtext h1 {
    font-size: 32px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .staking {
    height: 100%;
  }

  .faq-container {
    margin: 0;
    padding-bottom: 360px;
    color: #fff;
  }

  .navtabmob {
    border-radius: 12px;
    background: linear-gradient(107.96deg, #076d2a 0.75%, #013101 99.34%);
  }

  .navbar-nav {
    text-align: center;
    padding: 12px 0;
  }
}
